:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-scheme: #7b7b7b;
  --color: #434447;
  --background-color: #f9f9f9;
  --hover-color: #147efb;
}
.header {
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}
.header__logo {
  font-weight: 700;
  font-size: 20px;
}
.header__logo a {
  text-decoration: none;
  color: var(--color);
}
.header__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__li {
  padding-left: 15px;
  font-size: 17px;
  font-weight: 600;
  list-style: none;
}
.header__link {
  text-decoration: none;
  color: var(--color);
}
.header__link:hover {
  color: var(--hover-color);
  transition: all 0.2s ease-in-out;
}

/* HAMBURGER MENU */
.menu-hamburger {
  display: none;
}
.btn-close {
  display: none;
}
.nav-close {
  display: none;
}
/* ========== HERO ========== */
.hero {
  width: 100%;
  background: white;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__wrapper {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__block-text {
  width: 500px;
}
.hero__title {
  font-size: 55px;
  line-height: 66px;
  color: var(--color);
}
.hero__img {
  max-width: 400px;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__icon-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65px;
}
.fa-github,
.fa-linkedin {
  font-size: 28px;
  color: var(--color);
}

/* ===TECH STACK === */
.stack {
  width: 100%;
}

.stack__wrapper {
  width: 65%;
  margin: auto;
}
.stack__text {
  max-width: 600px;
  margin: auto;
}
.stack__title {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: var(--color);
}
.stack__underline {
  border-bottom: 1px solid var(--color-scheme);
  width: 50px;
}

.stack__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stack__list {
  margin: 50px 0;
  width: 50px;
  height: 50px;
}
.stack__theImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* === ABOUT SECTION === */
.about {
  width: 100%;
  margin: 100px 0;
}
.about__wrapper {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__img {
  width: 450px;
  height: 450px;
  border-radius: 10px;
}
.about__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about__text {
  width: 600px;
  padding-left: 30px;
}
.about__title {
  color: #147efb;
}

/* === PROJECTS & PORTFOLIO === */
.projects {
  width: 100%;
  background-color: #f9f9f9;
  height: 120vh;
}
.projects__wrapper {
  width: 65%;
  margin: auto;
}
.projects__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project__text {
  margin-bottom: 50px;
}
.projects__buttons-block {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background: #007bff;
}
.projects__button:hover {
  margin-top: -10px;
  transition: all 0.3s ease-in-out;
}
.project__link {
  text-decoration: none;
  color: white;
}
.projects__cards {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.projects__card {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 30px 30px;
  grid-template-areas: ". .";
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 10px;
}
.projects__card--img {
  height: 300px;
  width: 600px;
}
.projects__card--description {
  max-width: 400px;
}
.projects__card--img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.projects__card--btn {
  margin-right: 15px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.projects__card--span {
  margin-right: 15px;
  margin-top: 15px;
}
.projects__card--span a {
  text-decoration: none;
  color: var(--color);
}

/* === CONTACT SECTION === */
.contact {
  width: 100%;
}
.contact__wrapper {
  width: 65%;
  margin: auto;
}
.contact__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__block--title {
  color: var(--color);
}

.contact__icons {
  max-width: 600px;
  margin: auto;
}
.contact__block--icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__block--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__block--icon-map {
  margin-right: 10px;
}
.contact__block--icon-map .fa-envelope,
.contact__block--icon-map .fa-street-view {
  color: #007bff;
}

/* === FOOTER === */
.footer {
  width: 100%;
  margin: 50px 0;
}
.footer__wrapper {
  width: 65%;
  margin: auto;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === MEDIA QUERIES === */
@media (min-width: 1281px) and (max-width: 1399px) {
  /* CSS */
  /* body {
    background-color: gray;
  } */
  .hero__title {
    font-size: 46px;
  }

  /* === ABOUT === */
  .about__img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
  }

  /* === PROJECTS ===  */
  .projects {
    width: 100%;
    background-color: #f9f9f9;
    height: 180vh;
  }
  .projects__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-template-areas: ". .";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .projects__card--img {
    height: 300px;
    width: 400px;
  }
  .projects__card--description {
    max-width: 400px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  /* body {
    background-color: yellow;
  } */
  .hero__wrapper {
    width: 85%;
  }
  .hero__title {
    font-size: 49px;
  }
  .hero__img {
    width: 400px;
  }

  /* === STACK === */
  .stack__list {
    width: 40px;
    height: 40px;
  }
  /* === ABOUT === */
  .about__img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
  }

  /* === PROJECTS ===  */
  .projects__buttons-block {
    width: 650px;
    margin: auto;
  }
  .projects__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-template-areas: ". .";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .projects__card--img {
    height: 300px;
    width: 350px;
  }
  .projects__card--description {
    max-width: 400px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  /* body {
    background-color: olive;
  } */

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
  }

  .header__navDiv {
    display: none;
  }
  .menu-hamburger {
    display: block;
    cursor: pointer;
  }
  .btn-close {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .menu-hamburger .material-symbols-outlined,
  .btn-close .material-symbols-outlined {
    font-size: 35px;
  }
  .nav-close {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background: white;
    width: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 2s ease-in;
  }
  .nav-close__link {
    list-style: none;
    padding: 10px 0;
  }
  .nav-close__link a {
    color: var(--color);
    text-decoration: none;
  }
  .hero {
    width: 100%;
    height: 80vh;
    display: block;
  }
  .hero__wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .hero__block-text {
    width: 100%;
  }

  .hero__img {
    max-width: 280px;
  }
  /* === STACK === */
  .stack__list {
    width: 35px;
    height: 35px;
  }
  /* === ABOUT === */
  .about__wrapper {
    display: block;
    max-width: 600px;
  }
  .about__text {
    max-width: 450px;
  }
  .about__img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
  }

  /* === PROJECTS ===  */
  .projects {
    height: 180vh;
  }
  .projects__buttons-block {
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  .projects__button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects__button:hover {
    margin-top: -10px;
    transition: all 0.3s ease-in-out;
  }

  .projects__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .projects__card--img {
    height: 300px;
    width: 470px;
  }
  .projects__card--description {
    max-width: 400px;
  }

  /* === CONTACT === */
  .contact__block--icons {
    display: block;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
  
} */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  /* body {
    background-color: red;
  } */
  .header__navDiv {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .btn-close {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .menu-hamburger .material-symbols-outlined,
  .btn-close .material-symbols-outlined {
    font-size: 35px;
  }
  .nav-close {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background: white;
    width: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 2s ease-in;
  }
  .nav-close__link {
    list-style: none;
    padding: 10px 0;
  }
  .nav-close__link a {
    color: var(--color);
    text-decoration: none;
  }
  .hero {
    width: 100%;
    height: 70vh;
    display: block;
  }
  .hero__wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .hero__block-text {
    width: 100%;
  }

  .hero__title {
    font-size: 43px;
    line-height: 53px;
  }
  .hero__img {
    max-width: 250px;
  }

  /* === STACK === */

  .stack__list {
    width: 25px;
    height: 25px;
  }
  /* === ABOUT === */
  .about__wrapper {
    display: block;
    width: 400px;
    margin: auto;
  }
  .about__text {
    max-width: 350px;
  }
  .about__img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }

  /* === PROJECTS ===  */
  .projects {
    height: 195vh;
  }
  .projects__buttons-block {
    max-width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  .projects__button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects__button:hover {
    margin-top: -10px;
    transition: all 0.3s ease-in-out;
  }

  .projects__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .projects__card--img {
    height: 300px;
    width: 300px;
  }
  .projects__card--description {
    max-width: 400px;
  }

  /* === CONTACT === */
  .contact__block--icons {
    display: block;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  /* body {
    background-color: green;
  } */
  .header__navDiv {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .btn-close {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .menu-hamburger .material-symbols-outlined,
  .btn-close .material-symbols-outlined {
    font-size: 35px;
  }
  .nav-close {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background: white;
    width: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 2s ease-in;
  }
  .nav-close__link {
    list-style: none;
    padding: 10px 0;
  }
  .nav-close__link a {
    color: var(--color);
    text-decoration: none;
  }
  .hero {
    width: 100%;
    height: 70vh;
    display: block;
  }
  .hero__wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .hero__block-text {
    width: 95%;
    margin: auto;
  }

  .hero__title {
    font-size: 38px;
    line-height: 43px;
  }
  .hero__img {
    max-width: 200px;
  }
  /* === STACK === */

  .stack__list {
    width: 20px;
    height: 20px;
  }
  /* === ABOUT === */
  .about__wrapper {
    display: block;
    width: 300px;
    margin: auto;
  }
  .about__text {
    width: 250px;
  }
  .about__img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  /* === PROJECTS ===  */
  .projects {
    height: 219vh;
  }
  .projects__buttons-block {
    max-width: 100px;
    margin: auto;
    display: block;
  }
  .projects__buttons {
    margin: 10px 0;
  }
  .projects__button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    width: 90px;
    margin: auto;
  }

  .projects__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .projects__card--img {
    height: 200px;
    width: 200px;
  }
  .projects__card--description {
    max-width: 400px;
  }

  /* === CONTACT === */
  .contact__block--icons {
    display: block;
  }
}
@media (min-width: 220px) and (max-width: 319px) {
  /* CSS */
  /* body {
    background-color: purple;
  } */
  .hero__title {
    font-size: 28px;
    line-height: 23px;
  }
  .header__navDiv {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .btn-close {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .menu-hamburger .material-symbols-outlined,
  .btn-close .material-symbols-outlined {
    font-size: 35px;
  }
  .nav-close {
    position: absolute;
    top: 90px;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    background: white;
    width: 200px;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 2s ease-in;
  }
  .nav-close__link {
    list-style: none;
    padding: 10px 0;
  }
  .nav-close__link a {
    color: var(--color);
    text-decoration: none;
  }
  .hero {
    width: 100%;
    height: 70vh;
    display: block;
  }
  .hero__wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .hero__block-text {
    width: 100%;
  }

  .hero__title {
    font-size: 29px;
    line-height: 33px;
  }
  .hero__img {
    max-width: 150px;
  }
  .hero__icon-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
  }
  .fa-github,
  .fa-linkedin {
    font-size: 20px;
    color: var(--color);
  }

  /* === STACK === */

  .stack__list {
    width: 10px;
    height: 10px;
  }
  /* === ABOUT === */
  .about__wrapper {
    display: block;
    width: 200px;
    margin: auto;
  }
  .about__text {
    max-width: 150px;
  }
  .about__img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  /* === PROJECTS ===  */
  .projects {
    height: 250vh;
  }
  .projects__buttons-block {
    max-width: 100px;
    margin: auto;
    display: block;
  }
  .projects__button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .projects__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 100px;
    border-radius: 10px;
  }
  .projects__card--img {
    height: 130px;
    width: 130px;
  }
  .projects__card--description {
    max-width: 400px;
  }

  /* === CONTACT === */
  .contact__block--icons {
    display: block;
    max-width: 200px;
    margin: auto;
  }
  .contact__block--icon {
    display: block;
  }
  .contact__block--icon-text h4 {
    font-size: 10px;
  }
  /* === FOOTER === */
  .footer__text {
    font-size: 12px;
  }
}
